In [33]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df=pd.DataFrame(weather_data)
#df=pd.read_csv("weather_data.csv") here we have file
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [34]:
df.shape

(6, 4)

In [35]:
df.tail

<bound method NDFrame.tail of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [36]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

df[1:3]

In [37]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [38]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [39]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [40]:
type(df['day'])

pandas.core.series.Series

## Operations on Dataframes

In [41]:
df['temperature'].max()

35

In [42]:
df['temperature'].min()

24

In [43]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [44]:
df['day'][df["temperature"]== df['temperature'].max()]  # like sql in pandas

1    1/2/2017
Name: day, dtype: object

In [45]:
df['temperature'].std()

3.8297084310253524

In [46]:
df['event'].max()

'Sunny'

In [47]:
#df['event'].mean()  #ERROR :::here data type is string , required numeric

In [48]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

## set_index

In [53]:
df.set_index('temperature') #set column as index

             windspeed  event
temperature
32                   6   Rain
35                   7  Sunny
28                   2   Snow
24                   7   Snow
32                   4   Rain
31                   2  Sunny

In [57]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [58]:
df.set_index('day',inplace=True)

In [59]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [60]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [61]:
df.set_index('event',inplace=True)
df           #like building a hashmap using event as a key

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            28          2
Snow            24          7
Rain            32          4
Sunny           31          2

In [63]:
df.loc['Snow']

       temperature  windspeed
event
Snow            28          2
Snow            24          7

In [64]:
df.iloc[1]

temperature    35
windspeed       7
Name: Sunny, dtype: int64

In [66]:
df.iloc[0,1]

6

In [ ]:
df.iloc[]