# Different Ways Of Creating Dataframe

## Using CSV

In [11]:
import pandas as pd
df=pd.read_csv("C:/Users/Darshil/Desktop/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Using excel

In [12]:
#df = read_excel("weather_data.xlsx",'sheet1')
#df

## Using dictionary

In [13]:
weather = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df1 = pd.DataFrame(weather)
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## Using tuples

In [14]:
weather1 =[('1/1/2017',32,6,'Rain'),
          ('1/2/2017',35,7,'Sunny'),
          ('1/3/2017',28,2,'Snow')]

df2 = pd.DataFrame(data=weather1 , columns =['day','temperature','windspeed','event'])
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## Using doctionaries

In [15]:
weather2 = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]

df3 = pd.DataFrame(data=weather2,columns=['day','teemperature','windspeed','event'])
df3

        day  teemperature  windspeed  event
0  1/1/2017           NaN          6   Rain
1  1/2/2017           NaN          7  Sunny
2  1/3/2017           NaN          2   Snow